{% extends "user/base.html" %}

{% block title %}Страница сброса пароля{% endblock %}

{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста введите ваш новый пароля дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому что она имеет
            уже был использована. Пожалуйста, запросите новый пароль для сброса.</p>
        <a href="{url 'user:password_reset'}">Отправить новый пароль?</a>
    {% endif %}
{% endblock %}